<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727349629940-ctmvlgq9vnj3n4hkbt29rpopaqs5mao1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727349629940-ctmvlgq9vnj3n4hkbt29rpopaqs5mao1</string>
	<key>API_KEY</key>
	<string>AIzaSyAMcBOeBzqh4_oxcEUkgifvSF219kA5mKw</string>
	<key>GCM_SENDER_ID</key>
	<string>727349629940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CogDev.Artible2Admin</string>
	<key>PROJECT_ID</key>
	<string>artable2-26513</string>
	<key>STORAGE_BUCKET</key>
	<string>artable2-26513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727349629940:ios:320adc64f4d8bb6d</string>
	<key>DATABASE_URL</key>
	<string>https://artable2-26513.firebaseio.com</string>
</dict>
</plist>